{% extends "layout.html" %}
{% block body %}
  {% if subheader %}
  <h2>{{ subheader }}</h2>
  <br>
  {% endif %}
  <form action="{{ url_for('run_search') }}" method=get class=run-search>

  <!-- Fixed navbar -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Blazer Advanced Search</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/recent">Recent</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/test">Test</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


    <select name=query-table>
    {% for table in tables %}
        <option value="{{ table.name }}">{{ table.name }}</option>
    {% endfor %}
    </select>

    <br>

    <input type=submit value=Search>
  </form>

{% endblock %}
