{% extends "layout.html" %}
{% block body %}

  <form action="{{ url_for('run_search') }}" method=get class=run-search>
    <select name=query-table>
    {% for table in tables %}
        <option value="{{ table.name }}">{{ table.name }}</option>
    {% endfor %}
    </select>
    <br>
    <input type=submit value=Search>
  </form>
  {% if subheader %}
  <br>
  <h2>{{ subheader }}</h2>
  <br>
  {% endif %}
  <ul class=queries>
  {% for query in queries %}
    <li><h2><a href="https://admin.instacart.com/admin/blazer/queries/{{ query.id }}" target="_blank">{{ query.title }}</a></h2>{{ query.sequel|safe }}
  {% else %}
    <li><em>No queries found</em>
  {% endfor %}
  </ul>
{% endblock %}
