{% extends "layout.html" %}
{% block body %}
  {% if user_requested_search %}
    <form action="{{ url_for('run_search') }}" method=post class=run-search>
      <dl>
        <dt>Query name:
        <dd><input type=text size=30 name=query>
        <dt>From table:
        <dd><input type=text size=30 name=source>
        <!-- <dd><textarea name=sequel rows=5 cols=40></textarea> -->
        <dd><input type=submit value=Search>
      </dl>
    </form>
  {% endif %}
  {% if subheader %}
  <h2>{{ subheader }}</h2>
  <br>
  {% endif %}
  <ul class=queries>
  {% for query in queries %}
    <li><h2><a href="https://admin.instacart.com/admin/blazer/queries/{{ query.id }}" target="_blank">{{ query.title }}</a></h2>{{ query.sequel|safe }}
  {% else %}
    <li><em>No queries found</em>
  {% endfor %}
  </ul>
{% endblock %}
